

<!DOCTYPE html>
<html>
<head>
<title>Music Player</title>
</head>
<body>

<h1>Music Player</h1>

<div id="player">
<button id="play-button">Play</button>
<button id="pause-button">Pause</button>
<button id="skip-forward-button">Skip Forward</button>
<button id="skip-backward-button">Skip Backward</button>
<input type="range" id="volume-slider" min="0" max="100" value="50">
</div>

<div id="playlist">
<h2>Playlist</h2>
<ul>
<li>Song 1</li>
<li>Song 2</li>
<li>Song 3</li>
</ul>
</div>

<div id="search">
<h2>Search</h2>
<form>
<input type="text" id="search-input">
<button type="submit">Search</button>
</form>
</div>

</body>
</html>


